<html>
  <head>
    <style type="text/css">
    .turbolinks-prigress-bar {
      position: fixed;
      display: block;
      top: 0;
      left: 0;
      height: 3px;
      background: #0076ff;
    }
    </style>
  </head>
  <body>
    <h1>
      ようこそ<strong> Bookers </strong>へ！
      </h1>

      <p id="mainHP">
        <strong>Bookers</strong>
        では、さまざまな文書にあんするあなたの意見や
        </p>

        <p id="mainHP">
        印象を共有し交換することができます
        </p>
      <p id="mainHP">
        <a href="/books">start</a>
      </p>
      </body>
      </html>